<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:include="custom/fragments :: header"></div>

<body>
<div style="text-align: center">
    <h2>Files list</h2>
    <div style="max-width: 95%; max-height: 80%; border: black solid thin;">
        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Description</th>
                <th th:text="${test}"></th>
            </tr>
        <div th:each="doc : ${docs}">
            <tr>
                <td th:text="${doc.name}"></td>
                <td th:text="${doc.size}"></td>
                <td th:text="${doc.metadata.description}"></td>
                <td><a th:href="@{delete(id=${doc.id})}">delete</a></td>
            </tr>
        </div>
        </table>
    </div>
    <a href="/upload">Upload new file</a>
</div>
</body>
</html>
